In [1]:
# import pandas as pd
# import numpy as np
# import scipy.stats as stats

# def analyze_returns(net_returns):
#     """
#     Perform a t-test, with the null hypothesis being that the mean return is zero.
    
#     Parameters
#     ----------
#     net_returns : Pandas Series
#         A Pandas Series for each date
    
#     Returns
#     -------
#     t_value
#         t-statistic from t-test
#     p_value
#         Corresponding p-value
#     """
#     null_hypothesis = 0.0
#     t, p  = stats.ttest_1samp(net_returns, null_hypothesis)
#     #final_value = t_test_value/2
#     # TODO: Perform one-tailed t-test on net_returns
#     # Hint: You can use stats.ttest_1samp() to perform the test.
#     #       However, this performs a two-tailed t-test.
#     #       You'll need to divde the p-value by 2 to get the results of a one-tailed p-value.

#     return t,p/2
    
# def test_run(filename='net_returns.csv'):
#     """Test run analyze_returns() with net strategy returns from a file."""
#     net_returns = pd.Series.from_csv(filename)
#     final = net_returns[1:].tolist()
#     x = pd.Series(final)
#     x = pd.to_numeric(x)
#     t, p = analyze_returns(x)
#     print("t-statistic: {:.3f}\np-value: {:.6f}".format(t, p))


# if __name__ == '__main__':
#     test_run()

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
filename = 'net_returns.csv'
net_returns = pd.Series.from_csv(filename)

C:\Users\ly266e\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\series.py:4141: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  infer_datetime_format=infer_datetime_format)

In [4]:
# # net_returns.head()
# net_returns = pd.to_numeric(net_returns)

In [66]:
net = pd.DataFrame(data=net_returns[1:])
v = net.shape
v[0]

32

In [6]:
final = net_returns[1:].tolist()

In [7]:
final2 = pd.to_numeric(final)

In [8]:
final2

array([ 0.01163552,  0.02195409,  0.04088727, -0.00251124,  0.01725862,
        0.04169672,  0.0339731 ,  0.01180857, -0.03429671, -0.01800034,
        0.04244859,  0.06048679,  0.00442544, -0.01112807,  0.03904059,
       -0.01853476,  0.05149203,  0.00898728,  0.04030096, -0.07014814,
       -0.037446  , -0.05765104,  0.05280791,  0.04813615,  0.01906976,
        0.02369365, -0.02274948, -0.07743936,  0.03324799, -0.02091585,
       -0.0695542 ,  0.00375888])

In [9]:
x = pd.Series(final)
x = pd.to_numeric(x)

In [11]:
null_hypothesis = 0.0
t, p  = stats.ttest_1samp(x, null_hypothesis)

In [13]:
df = pd.read_csv(filename)
df.head()

         date    return
0  11/30/2014  0.011636
1  12/31/2014  0.021954
2   1/31/2015  0.040887
3   2/28/2015 -0.002511
4   3/31/2015  0.017259